.container{
    box-sizing: border-box;
    }

.content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgb(223, 217, 217);
}
    .mainImage{
        height: 4vw;
        background-color: rgb(255, 255, 255);
    }

    .myDescriptionBox{
        width: 97%;
        height: 40vw;
        display: flex;
        flex-flow: row nowrap;
    }
        .myDescriptionText{
            width: 70%;
            margin: 4vw;
        }
            .myDescriptionText p{
                color: rgb(0, 0, 0);
                text-align:justify;
                font-size: 1.2vw;
                margin-top: 0;
            }

        .myImage{
            width: 34%;
            height: 39vw;
            background-image: url("../assets/img/me/aresu1transparent.png");
            background-size: cover;
            margin-top: 1vw;
        }
        .myImage:hover{
            background-image: url("../assets/img/me/aresu2transparent.png");
        }

@media (max-width:600px){
    .myDescriptionBox{
        height: 40vw;
    }

    .myDescriptionText p{
        font-size: 2vw;
    }




}