body{
    background-color: rgb(255, 255, 255);
}

.mainContent{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 39vw;
}
h1{
    font-size: 3vw;
    color: rgb(0, 0, 0);
}
h2{
    font-size: 2.5vw;
    color: black;
}
.mailIcon{
    width: 5vw;
}
.separator{
    height: 5vw;
}

.contactIcons{

    filter: invert();
}
.linkedinIcon{
    width: 4vw;
}

@media(max-width:600px){
    .container{
        height: 600px;
    }
    h1{
        font-size: 4.2vw;
    }
    
    h2{
        font-size: 3.5vw;
    }
}