body{
    font-family: Verdana, Georgia, Helvetica, sans-serif;  /*Tipo de letra*/
    background-color: black;    /*Color de fondo*/
    background-attachment: fixed; /*Imagen fija (no se desplaza con scroll)*/
}

.container{
    height: 190vw;
}
    .mainImage{
        background: white;
        background-image: url(../assets/img/portadas/img_identityLoopPortada.png);
        background-size: cover;
        height: 40vw;
    }
    .gameTitle{
        color: white;
        font-size: 1.5vw;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    /*Game Description*/
    .gameContent{
        background: rgb(0, 0, 0);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        display: flex;
        margin: 50px;
        height: 25vw;
    }
        .gameDescription{
            width: 90%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
        }
            .descriptionText{
                width: 50%;
            }
                .descriptionHead{
                    color: rgb(255, 255, 255);
                    font-size: 2.5vw;
                    margin-top: 0;
                }
                .descriptionText p{
                    color: white;
                    font-size: 1.5vw;
                    text-align: justify;
                }

            .descriptionImage{
                margin: 0 20px;
                width: 50%;
                background-size: cover;
            }
            /*IMAGES*/
            #alarmLab{
                background-image: url("../assets/img/gameImages/alarmLab.png");
            }
            #fishermanPuzzle{
                background-image: url("../assets/img/gameImages/caveFire.png");
            }
            #caveFire{
                background-image: url("../assets/img/gameImages/forestBank.png");
            }
    .gameTrailer{
        width: 100%;
        height: 40vw;
        display: flex;
        flex-flow:column nowrap;
        align-items: center;
    }
        .gameTrailer article{
            background-color: thistle;
            width: 70%;
            height: 100%;
        }
                

/*Version movil*/
@media (max-width: 600px){
   .container{
       height: 270vw;
   }
   .gameTitle{
    color: white;
    font-size: 3vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
   .allContent{
       display: flex;
       flex-flow: column nowrap;
       align-items: center;
   }
        .gameContent{
            width: 90%;
            margin:0;
            height: 55vw;
        }
            .gameDescription{
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: row nowrap;
            }
                .descriptionText{
                    width: 50%;
                }
                    .descriptionHead{
                        color: rgb(255, 255, 255);
                        font-size: 4vw;
                        margin-top: 0;
                    }
                    .descriptionText p{
                        color: white;
                        font-size: 2.5vw;
                        text-align: justify;
                    }
                    .descriptionImage{
                        margin: 0 20px;
                        width: 50%;
                        height: 50%;
                        background-size: cover;
                    }
}

