body{
    font-family: Verdana,Arial, Helvetica, sans-serif;  /*Tipo de letra*/
}


/*Menú de navegación*/
.menu{
    position: fixed;
    width: 100%;
    z-index: 5;
    display: flex;
    flex-flow: row nowrap ;
    justify-content: center;
    height: 4vw;
    background-color:rgba(0, 0, 0, 0.3);
}
    .aresuLogo{
        flex: 1 1 auto;
    }
        .aresuLogo img{
            width: 5.5vw;
            margin-left: .1vw ;
        }
    .navMenu{ 
        height: 100%;
        flex: 1 1 auto;
        list-style: none;
        padding: 0;
        margin:0;
        position: sticky;
        top:0;
        display: flex;
        flex-flow: row nowrap;
        font-family: sans-serif;
        justify-content: center;
        
    }
        .navMenu li a{
            text-decoration: none;
            color:rgb(255, 255, 255);
            padding:1vw;
            font-size: 1.5vw;
            display: block; /*Crea bloques separados*/
            flex-flow: row nowrap;
        }
        .navMenu li a:hover{ /*Para destacar los campos cuando el cursor pasa por encima*/
            border-radius: 40%;
            height: 100%;
            background: rgba(194, 255, 237, 0.7);
            color: black;
        }
    .relleno{
        flex: 1 1 auto;
    }

.menuSticky{
    position: fixed;
    width: 100%;
    display: flex;
    flex-flow: row nowrap ;
    height: 4vw;
    background-color: black;
}

/*Footer*/
.footer{
    background: rgba(0, 0, 0, 1);
    height: 3.5vw;
    display: flex;
    flex-flow: row nowrap;
}
    .socialIcons{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-top: .2vw;
        margin-left: 1vw;
    }
        .youtubeIcon{
            width: 1.8vw;
            margin-right: 1.5vw ;
        }
        .instagramIcon{
            width: 1.8vw;
            margin-right: 1.5vw ;
        }
        .linkdinIcon{
            width: 1.5vw;
            margin-right: 1.5vw ;
        }

/*Version movil*/
@media (max-width: 600px){
    .menu{
        height: 8vw;
    }
    .aresuLogo{
    }
        .aresuLogo img{
            width: 10.5vw;
            margin-left: .1vw ;
        }
        .navMenu li a{
            padding:1.4vw;
            font-size: 4vw;
            display: block; /*Crea bloques separados*/
            flex-flow: row nowrap;
        }
        .footer{
            height: 7vw;
        }
            .youtubeIcon{
                width: 7vw;
                margin-right: 2vw;
            }
            .instagramIcon{
                width: 6vw;
                margin-right: 2vw;
            }
            .linkdinIcon{
                width: 5.4vw;
                margin-right: 2vw;
            }
}