
/*Menú de navegación*/
.menu{
    display: flex;
    flex-flow: column nowrap ;
    height: 6vw;
}
    .navMenu{ 
        height: 90%;
        list-style: none;
        padding: 0;
        margin:0;
        background-color: #000000;
        position: sticky;
        top:0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
        .navMenu li a{
            text-decoration: none;
            color:rgb(255, 255, 255);
            padding:20px;
            font-size: 2.5vw;
            display: block; /*Crea bloques separados*/
            flex-flow: row nowrap;
        }
        .navMenu li a:hover{ /*Para destacar los campos cuando el cursor pasa por encima*/
            border-radius: 40%;
            /*background: rgb(102, 255, 0);*/
            background: rgba(194, 255, 237, 0.7);
            color: black;
        }

/*Footer*/
.footer{
    background: rgba(194, 255, 237, 0.7);
    height: 3.5vw;
    display: flex;
    flex-flow: row nowrap;
}
    .socialIcons{

    }
        .youtubeIcon{
            width: 3.5%;
            border-radius: 10%;
            padding-right: 10px;
        }
        .instagramIcon{
            width: 3.5%;
            border-radius: 50%;
            padding-right: 10px;
        }
        .linkdinIcon{
            width: 3.5%;
            border-radius: 20%;
            padding-right: 10px;
        }

/*Version movil*/
@media (max-width: 600px){
    .menu{
        height: 10vw;
    }
        .navMenu li a{
            padding:10px;
            font-size: 4vw;
            display: block; /*Crea bloques separados*/
            flex-flow: row nowrap;
        }

        .footer{
            height: 10vw;
        }
            .youtubeIcon{
                width: 10%;
                border-radius: 10%;
                padding-right: 1vw;
            }
            .instagramIcon{
                width: 10%;
                border-radius: 50%;
                padding-right: 1vw;
            }
            .linkdinIcon{
                width: 10%;
                border-radius: 20%;
                padding-right: 1vw;
            }
}