body{
    font-family: Verdana,Arial, Helvetica, sans-serif;  /*Tipo de letra*/
}

/*BOTONES*/
/*Boton de más información*/
.moreInfo{
    text-decoration:none;
}

/*Menú de navegación*/
.menu{
    position: fixed;
    width: 100%;
    z-index: 5;
    display: flex;
    flex-flow: column nowrap ;
    height: 4vw;
    background-color:rgba(0, 0, 0, 0.3);
}
    .navMenu{ 
        height: 100%;
        list-style: none;
        padding: 0;
        margin:0;
        position: sticky;
        top:0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        font-family: sans-serif;
        
    }
        .navMenu li a{
            text-decoration: none;
            color:rgb(255, 255, 255);
            padding:1vw;
            font-size: 1.5vw;
            display: block; /*Crea bloques separados*/
            flex-flow: row nowrap;
        }
        .navMenu li a:hover{ /*Para destacar los campos cuando el cursor pasa por encima*/
            border-radius: 40%;
            height: 100%;
            background: rgba(194, 255, 237, 0.7);
            color: black;
        }

.menuSticky{
    position: fixed;
    width: 100%;
    display: flex;
    flex-flow: column nowrap ;
    height: 4vw;
    background-color: black;
}

/*Footer*/
.footer{
    background: rgba(0, 0, 0, 1);
    height: 3.5vw;
    display: flex;
    flex-flow: row nowrap;
}
    .socialIcons{

    }
        .youtubeIcon{
            width: 3.5%;
            border-radius: 10%;
            padding-right: 10px;
        }
        .instagramIcon{
            width: 3.2%;
           /* border-radius: 50%;*/
            padding-right: 10px;
        }
        .linkdinIcon{
            width: 3%;
           /* border-radius: 20%;*/
            padding-right: 10px;
        }

/*Version movil*/
@media (max-width: 600px){
    .menu{
        height: 10vw;
    }
        .navMenu li a{
            padding:10px;
            font-size: 4vw;
            display: block; /*Crea bloques separados*/
            flex-flow: row nowrap;
        }

        .footer{
            height: 7vw;
        }
            .youtubeIcon{
                width: 7%;
                border-radius: 10%;
                padding-right: 1vw;
            }
            .instagramIcon{
                width: 6%;
                border-radius: 50%;
                padding-right: 1vw;
            }
            .linkdinIcon{
                width: 6%;
                border-radius: 20%;
                padding-right: 1vw;
            }
}