body{
    font-family: Georgia, Helvetica, sans-serif;  /*Tipo de letra*/
    background-color: black;    /*Color de fondo*/
    background-image: url("../assets/img/matrixKatakana.png"); /*Imagen de fondo*/
    background-attachment: fixed; /*Imagen fija (no se desplaza con scroll)*/
}

.container{
box-sizing: border-box;
}
    .menu{
        display: flex;
        flex-flow: column nowrap ;
        height: 6vw;
    }
    /*Menú de navegación*/
        .navMenu{ 
            height: 100%;
            list-style: none;
            padding: 0;
            margin:0;
            background-color: #000000;
            position: sticky;
            top:0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }
            .navMenu li a{
                text-decoration: none;
                color:rgb(255, 255, 255);
                padding:20px;
                font-size: 2vw;
                display: block; /*Crea bloques separados*/
                flex-flow: row nowrap;
            }
            .navMenu li a:hover{ /*Para destacar los campos cuando el cursor pasa por encima*/
                border-radius: 40%;
                background: rgb(102, 255, 0);
                color: black;
            }

    /*Portada*/
        .transparentBox{
            height: 45vw;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;

        }
            .titleBox{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                margin:0;
                height: 50%;
            }
                .titleBox h1{
                    margin:0;
                    color: white;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 4vw;
                }
                .titleBox h2{
                    color: white;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 2vw;
                }

    /*Caja de presentacion*/
    .homeContent{
        background: white;
        height: 70vw;
    }
        .mainBox{
            display: flex;
            flex-flow: row nowrap;
        }
            /*Avatar dentro de un círculo*/
            .circle{
                padding-top: 2vw;
                width: 30%;
            }
            .circle > .image{ /*Selector de fills*/
                border-radius: 100%;
            }
            .myDescription{
                padding: 2vw;
                width: 70%;
            }
            .myDescription p{
                font-size: 2vw;
            }
        .breakLine{
            width: 5%;
            border-top: 8px dotted rgb(114, 114, 114);
        }
        .projectBox{
            height: 50%;
            display: flex;
            flex-flow: row nowrap;
        }
            .projectImage{
                margin:10px;
                background: black;
                width: 100%;
            }

    .footer{
        background: rgb(70, 107, 27);
        height: 10vw;
        display: flex;
        flex-flow: row nowrap;
    }
        .socialIcons{
            
        }
            .youtubeIcon{
                width: 9%;
                border-radius: 10%;
            }
            .instagramIcon{
                width: 8%;
                border-radius: 50%;
            }
            .linkdinIcon{
                width: 8%;
                border-radius: 20%;
            }
/*Version movil*/
@media (max-width: 600px){
    .menu{
        height: 10vw;
    }
        .navMenu li a{
            padding:10px;
            font-size: 4vw;
            display: block; /*Crea bloques separados*/
            flex-flow: row nowrap;
        }
    .titleBox h1{
        font-size: 8vw;
    }
    .titleBox h2{
        font-size: 4vw;
    }
    .homeContent{
        height: 80vw;
    }
    .myDescription p{
        font-size: 3vw;
    }
    .breakLine{
        width: 5%;
        border-top: 1vw dotted rgb(114, 114, 114);
    }
}

