

.container{
box-sizing: border-box;
}
    /*Portada*/
        .transparentBox{
            background-image: url("../assets/img/me/park/meInPark.JPG"); /*Imagen de fondo*/
            background-attachment: fixed; /*Imagen fija (no se desplaza con scroll)*/
            background-size: 100%;
            width: 100%;
            height: 50vw;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
        }
            .titleBox{
                /*background: rgba(194, 255, 237, 0.7);
                border-radius: 100%; ==> Ovalo de fondo para el texto*/
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                margin:0;
                height: 24%;
                width: 40vw;
            }
                .titleBox h1{
                    margin:0;
                    color:rgb(255, 255, 255);
                    font-size: 4vw;
                }
                .titleBox h2{
                    color: rgb(255, 255, 255);
                    font-size: 2vw;
                }

    /*Caja de presentacion*/
    .homeContent{
        background: white;
        height: 61vw;
    }
        .mainBox{
            display: flex;
            flex-flow: row nowrap;
        }
            /*Avatar dentro de un círculo*/
            .circle{
                padding-top: 2vw;
                width: 30%;
            }
            .circle > .image{ /*Selector de fills*/
                border-radius: 100%;
            }
            .myDescription{
                padding: 3vw;
                width: 70%;
            }
            .myDescription p{
                font-size: 1.2vw;
                text-align: justify;
            }
            .cv{
                text-decoration: none;
            }
            .cv h2, .myName{
                text-align: center;
                font-size: 2.5vw;
            }
        .breakLine{
            width: 5%;
            border-top: 8px dotted rgb(114, 114, 114);
        }
        .projectBox{
            height:40vw;
            background:linear-gradient(to top, rgb(129, 124, 124)92%,white);
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
        }
            .projectImage{
                margin:1vw;
                width: 37%;
                height: 69%;
                margin:0 4vw;
            }
                .identityLoopImage{
                    position: relative;
                    background-size: 50vw;
                    height: 100%;
                }
                .identityLoopImage img{
                    max-width: 100%;
                    max-height: 100%;
                }
                    .projectTitle{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left:0;
                        background:linear-gradient(rgba(0, 0, 0, 0.9),rgba(194, 255, 237, 0.8));
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        opacity: 0; /*Cambia este número a 0 para el funcionamiento normal (USAR 1 para test)*/
                        transition: opacity 0.25s;
                    }
                        .projectTitle h2{
                            font-size: 4vw;
                            color: white;
                            padding: 0;
                        }
                        .projectTitle p{
                            color: white;
                            font-size: 1.2vw;
                            margin:.2vw 1vw;
                            text-align: center;
                        }

                        .tecnoLogoBox{
                            width: 4vw;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            margin: 1vw 0;
                        }
                        .tecnoLogoBox2{
                            margin-top: 2vw;
                            height: 4vw;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            margin: 1.5vw 0;
                        }
                            .tecnoLogo{
                                margin-right: 1vw;
                            }
                        .projectTitle h3{
                            display: flex;
                            flex-flow: column;
                            align-items: center;
                            width:13vw;
                            height: 4vw;
                            font-size: 1.5vw;
                            color: rgb(255, 255, 255);
                            margin-top: 20vw;
                            background-color: #902ba0;
                            border-radius: 20%;
                            margin: 0;
                            padding: 0;
                        }
                        .moreInfo{
                            text-align: center;
                            text-decoration:none;
                            margin-top: 1.5vw;
                            margin-right: 1vw;
                            align-self: flex-end;
                            pointer-events: none;
                        }

                    .projectTitle:hover{
                        opacity: 1;
                    }

                    .projectTitle > *{
                        transform: translateY(8vw);
                        transition: transform 0.25s;
                    }
                    .projectTitle:hover > *{
                        transform: translateY(-2vw);
                        pointer-events: auto;
                    }

                .identityLoopImage2{
                    background-image: url("../assets/img/gameImages/forestBankShort.png"); /*Imagen de fondo*/
                    background-size: 32vw;
                    height: 100%;
                }

/*Version movil*/
@media (max-width: 600px){
    .titleBox{
        height: 20vw;
        width: 55vw;
    }
        .titleBox h1{
            padding-top: 10px;
            font-size: 6vw;
        }
        .titleBox h2{
            font-size: 3vw;
        }
    .homeContent{
        height: 220vw;
    }
    .myDescription p{
        font-size: 3vw;
    }
    .breakLine{
        width: 5%;
        border-top: 1vw dotted rgb(114, 114, 114);
    }


    .projectBox{
        height: 65%;
        background:linear-gradient(to top, rgb(129, 124, 124)98%,white);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        align-content: flex-start;
        justify-content:unset;
    }
        .projectImage{
            width: 80vw;
            height: 60vw;
            margin-top: 5vw;
        }

        .projectTitle h2{
            font-size: 6vw;
            color: white;
            margin: 0;
            padding: 0;
        }
        .projectTitle p{
            color: white;
            font-size: 3vw;
            margin:2vw 3vw;
            text-align: center;
        }
        
        .projectTitle h3{
            font-size: 4vw;
            width: 30vw;
            height: 10vw;
            color: rgb(0, 0, 0);
            margin-top: 20vw;
            background-color: #FADBFF;
            border-radius: 20%;
            margin: 0;
            padding: 0;
        }

        .tecnoLogoBox{
            width: 8vw;
        }
        .tecnoLogoBox2{
            width: 10vw;
            height: 8vw;
        }
            

    /*Incrustación AboutMe*/
    /*
    .myDescriptionBox{
        width: 97%;
        height: 50vw;
        display: flex;
        flex-flow: row nowrap;
    }
        .myDescriptionText p{
            font-size: 2.2vw;
        }
        */
}




