/*Reset valores por defecto*/
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    font-family: Georgia, Helvetica, sans-serif;  /*Tipo de letra*/
    background-color: black;    /*Color de fondo*/
    background-image: url("Assets/Img/matrixKatakana.png"); /*Imagen de fondo*/
}

/*Menú de navegación*/
.navMenu{
    list-style: none;
    padding: 0;
    background-color: #2FE014;
    margin-bottom: 25px;
}
.navMenu li a{
    text-decoration: none;
    color:black;
    padding:20px;
    font-size: 28px;
    display: block; /*Crea bloques separados*/
}
.navMenu li{
    display:inline-block;
    text-align: center;
}
.navMenu li a:hover{ /*Para destacar los campos cuando el cursor pasa por encima*/
    background: rgb(102, 255, 0);
}
.myDescriptionL{
    background:black;
    width: 600px;
    height: 450px;
    margin-left: 25px;
    float: left;
}
.myDescriptionR{
    background:black;
    width: 600px;
    height: 450px;
    margin-right: 25px;
    float: right;
}
/*Título*/
.myName{
    color: white;
    font-size: 38px;
}

/*Descripción*/
.myDescriptionText{
    text-align: justify;
    line-height: 25px;
    color:white;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
}

/*Avatar dentro de un círculo*/
.circle{
    width:200px;
    height:200px;
    border-radius: 100%;
    background: violet;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    float: left;
}
.circle > .image{ /*Selector de fills*/
    width:200px;
    height:200px;
    border-radius: 100%;
}

/*APPS*/
.appsTitle{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}
.appsSection{
    width: 100vw; /*100% del ancho de la pantalla*/
    background: black;
    margin-left: 25px; /*No creo que sea óptimo centrarlo así*/
    margin-right: 25px;
    padding: 10px;
}
.appArticle{
   padding: 10px;
}
.appDescription{
    height: 250px;
    color: white;
    text-align: justify;
}

/*Images*/
.leftImg{
    width: 350px;
    height: 250px;
    margin-right: 25px;
    float: left;
}
.rightImg{
    width: 350px;
    height: 250px;
    margin-left: 25px;
    float: right;
}

h2.appName{
    font-size: 25px;
    color: white;
}

/*AUDIO*/
.soundSection{
    background: black;
    width: 600px;
    height: 450px;
    margin-top: 25px;
}

.soundArticle h2 ~ p{ /*Selector germà general*/
    color:white;
    margin-left: 25px;
}
.audio{
    margin-top: 20px;
    margin-left: 30px;
}

/*CONTACT*/
form{
    width:500px;
    height: 350px;
    background:rgba(47, 116, 30, 0.9);
    padding:20px 20px;
    border-radius: 7px;
    margin-left: 25px;
}

form > h1{
    font-size: 40px;
    color:white;
    padding: 5px;
}

input, textarea{
    width: 95%;
    margin-bottom: 30px;
    padding: 5px;
}

#boton{
    font-size: 20px;
    width: 25%;
    background: rgb(96, 177, 243);
}